aiohappyeyeballs 
aiohttp==3.8.5
aiosignal 
asgiref==3.8.1
async-timeout 
attrs 
beautifulsoup4
blinker 
bottleneck
brotli
certifi 
charset-normalizer 
click 
colorama 
datasets 
dill 
Django==5.2
filelock 
flask 
frozenlist 
fsspec 
huggingface_hub 
idna 
itsdangerous 
Jinja2 
kiwisolver==1.4.8
MarkupSafe 
mkl-service==2.4.2
mkl_fft 
mkl_random 
mpmath==1.3.0
multidict 
multiprocess 
networkx==3.4.2
numexpr 
numpy 
opencv-python==4.11.0.86
packaging 
pandas 
pillow==11.2.1
propcache 
protobuf 
psutil==7.0.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyarrow 
pyparsing==3.2.3
PySocks 
python-dateutil 
python-decouple==3.8
pytz 
PyYAML 
regex 
requests 
safetensors 
scipy==1.15.2
six 
soupsieve
sqlparse==0.5.3
sympy==1.14.0
tokenizers 
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tqdm 
transformers 
typing_extensions 
tzdata 
urllib3 
werkzeug
win-inet-pton 
xxhash 
yarl 
